:root {
  --background-color: #065e61;
  --background-element-light: white;
  --background-element-dark: black;
  --heading-color: #b81c4b;
  --text-color-light: black;
  --text-color-dark: white;
  --gradient-style: radial-gradient(circle, #f6ff1c, #ffdc00, #ffb800, #ff951a);
  --gradient-size: 8px;
  --gradient-shadow: #ffb800;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  color: var(--text-color-light);
  background: var(--background-color, lightgrey);
  /* fallback, when --background-color is not found, set background color to lightgrey */
}

main {
  display: flex;
  justify-content: center;
}

section {
  background: white;
  padding: 2em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  width: min(600px, 80%);
  transition: background 2s;
  /* min gets the smallest value, so when the screen gets smaller 70% will be smaller
  then 800px, so the width will be set to 70% */
}

section h1 {
  color: var(--heading-color);
  font-size: clamp(1rem, 2.5vw, 3rem);
  /* clamp(minimun, preferred, maximum) */
}

section img {
  height: max(20vw, 200px);
  /* max gets the biggets value */
}

p,
ul {
  transition: color 2s;
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  /* clamp(minimum, preferred, maximum); */
}

label {
  text-indent: -9999px;
  background-image: url('../public/images/moon.png');
}

input[type='checkbox'] {
  -webkit-appearance: none;
  outline: 0;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: var(--gradient-style);
  box-shadow: 0 0 14px var(--gradient-size) var(--gradient-shadow);
  cursor: pointer;
}

:checked,
:checked ~ section {
  transition: background 2s;
  color: var(--text-color-dark);
  background: var(--background-element-dark);
}
