:root {
  --background-color: rgb(233, 240, 250);
  --heading-color: #ee6352;
  --text-color: black;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  color: var(--text-color);
  background: var(--background-color, lightgrey);
  /* fallback, when --background-color is not found, set background color to lightgrey */
}

main {
  display: flex;
  justify-content: center;
}

section {
  background: white;
  padding: 2em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  width: min(800px, 80%);
  /* min gets the smallest value, so when the screen gets smaller 70% will be smaller
  then 800px, so the width will be set to 70% */
}

section h1 {
  color: var(--heading-color);
  font-size: clamp(1rem, 2.5vw, 3rem);
  /* clamp(minimun, preferred, maximum) */
}

section img {
  height: min(40vw, 400px);
  width: min(30vw, 300px);
}

p {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  /* clamp(minimum, preferred, maximum); */
}

input[type='checkbox'] {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 100;
  left: 11%;
  opacity: 0;
}
/* input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
} */

div {
  cursor: pointer;
  /* text-indent: -9999px; */
  width: 100px;
  height: 50px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

div:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 40px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + div {
  background: #bada55;
}

input:checked + div:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

div:active:after {
  width: 130px;
}

:checked,
:checked ~ section {
  color: white;
  background: #121212;
}
