@font-face {
  font-family: 'Flames';
  src: url('../charbb_reg.otf') format('opentype'), url('../charbb_reg.ttf') format('truetype');
}

@font-face {
  font-family: 'Fireworks';
  src: url('../Shapes.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
}

h1 {
  margin: 0;
  font-size: 3.5vmin;
  padding: 0.5em;
  font-family: 'Flames', monospace;
}

input[type='radio'],
label {
  cursor: url('../images/aansteker-klein.png'), auto;
  /* change cursor to lighter when hovering over input/label */
}

main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #010a10 30%, #0b1959 80%, #2f1107 100%);
}

input[type='radio'] {
  display: none;
}

label:first-of-type {
  position: absolute;
  display: inline-block;
  top: 8vmin;
  left: 5vmin;
  margin: 2em;
  padding: 0.5em;
  border-radius: 50%;
  border: 0.02em solid white;
  color: white;
  font-size: 1vmin;
  box-shadow: -0.6em -0.5em red, -1em -1em red, -1.5em -1.5em red, -2em -2em red, -2.3em -2.3em red, 0em -0.5em yellow, 0.1em -1.1em yellow,
    0.2em -1.7em yellow, 0.3em -2.3em yellow, 0.4em -2.9em yellow, 0.5em 0em red, 1.1em -0.2em red, 1.7em -0.5em red, 2.4em -0.8em red,
    3em -1.05em red, 0.5em 0.4em yellow, 0.8em 0.8em yellow, 1.3em 1.3em yellow, 1.8em 1.8em yellow, 2.2em 2.2em yellow, 0.1em 0.8em red,
    -0.2em 1.2em red, -0.3em 1.6em red, -0.5em 2.2em red, -0.7em 2.8em red, -0.5em 0.4em yellow, -1.1em 0.4em yellow, -1.5em 0.6em yellow,
    -2em 0.8em yellow, -2.5em 1em yellow;
}

label:nth-of-type(2) {
  position: absolute;
  top: 8vmin;
  left: 20vmin;
  display: inline-block;
  margin: 0;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.02em solid white;
  color: white;
  font-size: 5vmin;
  background: linear-gradient(#33ccff, #ff0066);
  filter: blur(0.02em);
  box-shadow: 0 0 15px white;
  /* #33ccff, #ff0066 */
}

label:nth-of-type(3) {
  position: absolute;
  top: 8vmin;
  left: 35vmin;
  font-family: 'Fireworks';
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 0.5em;
  border: none;
  color: rgb(255, 0, 191);
  font-size: 5vmin;
  background: none;
  /* #33ccff, #ff0066 */
}

/* house */
main > div:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  left: 10vmin;
  height: 45vmin;
  width: 35vmin;
  background: rgb(65, 30, 110);
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
  /* using clippath to create triangle shape for the roof of the house */
}

/* schoorsteen */
main > div:nth-of-type(1) {
  content: '';
  position: absolute;
  bottom: 27.5vmin;
  left: 14vmin;
  height: 10vmin;
  width: 5vmin;
  background: rgb(137, 66, 196);
  border-top: 0.5em solid rgba(0, 0, 0, 0.3);
}

/* window */
main > div:nth-of-type(2) > div:nth-of-type(1) {
  top: 25vmin;
  left: 5vmin;
  height: 10vmin;
  width: 10vmin;
  background: #ecba14;
  z-index: 3;
  /* using z-index to place the window on top of the house */
  border-top: 1vmin solid rgb(137, 66, 196);
}

/* ruiten window */
main > div:nth-of-type(2) > div:nth-of-type(1)::before,
main > div:nth-of-type(2) > div:nth-of-type(1)::after {
  content: '';
  position: absolute;
  background: rgb(65, 30, 110);
  /* use ::before and ::after so that i don't have to put more divs in the html, but i create divs with this in css */
}

/* ruit rechts */
main > div:nth-of-type(2) > div:nth-of-type(1)::before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0.1em;
}

/* ruit onder */
main > div:nth-of-type(2) > div:nth-of-type(1)::after {
  top: 50%;
  height: 0.1em;
  width: 100%;
}

/* door */
main > div:nth-of-type(2) > div:nth-of-type(2) {
  bottom: 0;
  left: 20vmin;
  height: 20vmin;
  width: 10vmin;
  background: rgb(137, 66, 196);
  z-index: 3;
  overflow: hidden;
}

/* door knob */
main > div:nth-of-type(2) > div:nth-of-type(2)::before {
  content: '';
  position: absolute;
  top: 10vmin;
  right: 2vmin;
  height: 1vmin;
  width: 1vmin;
  border-radius: 50%;
  border: 0.1em solid rgb(65, 30, 110);
  background: #d596ff;
}

/* firework 1 and 2 */
main > div:nth-of-type(3) {
  position: absolute;
  left: 60vmin;
  top: 25vmin;
  transform: scale(0.7);
}

main > div:nth-of-type(4) {
  position: absolute;
  left: 30vmin;
  top: 20vmin;
  transform: scale(1);
}

div > div {
  position: absolute;
  width: 0.3vmin;
  height: 10vmin;
  transform-origin: center;
  /* transform origin sets the origin for the transformation, so the point from witch the transformation starts */
  overflow: hidden;
}

main > div:nth-of-type(3) > div:nth-child(1),
main > div:nth-of-type(4) > div:nth-child(1) {
  transform: rotate(0deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(2),
main > div:nth-of-type(4) > div:nth-child(2) {
  transform: rotate(30deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(3),
main > div:nth-of-type(4) > div:nth-child(3) {
  transform: rotate(60deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(4),
main > div:nth-of-type(4) > div:nth-child(4) {
  transform: rotate(90deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(5),
main > div:nth-of-type(4) > div:nth-child(5) {
  transform: rotate(120deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(6),
main > div:nth-of-type(4) > div:nth-child(6) {
  transform: rotate(150deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(7),
main > div:nth-of-type(4) > div:nth-child(7) {
  transform: rotate(180deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(8),
main > div:nth-of-type(4) > div:nth-child(8) {
  transform: rotate(210deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(9),
main > div:nth-of-type(4) > div:nth-child(9) {
  transform: rotate(240deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(10),
main > div:nth-of-type(4) > div:nth-child(10) {
  transform: rotate(270deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(11),
main > div:nth-of-type(4) > div:nth-child(11) {
  transform: rotate(300deg) translateY(-0.9em);
}
main > div:nth-of-type(3) > div:nth-child(12),
main > div:nth-of-type(4) > div:nth-child(12) {
  transform: rotate(330deg) translateY(-0.9em);
}

input[type='radio']:first-of-type:checked ~ div:nth-of-type(3) > div::before,
input[type='radio']:first-of-type:checked ~ div:nth-of-type(4) > div::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 5vmin;
  background-color: #f5cf52;
  animation: explosion 2.5s ease-in-out infinite;
  animation-delay: 2.5s;
}

input[type='radio']:first-of-type:checked ~ div:nth-of-type(3) > div:nth-child(2n)::before {
  background-color: #ff0000;
}

input[type='radio']:first-of-type:checked ~ div:nth-of-type(4) > div:nth-child(2n)::before {
  background-color: #6fe89d;
}

input[type='radio']:first-of-type:checked ~ div:nth-of-type(4) > div::before {
  background-color: #e86fdc;
  animation: explosion 2.5s 0.7s ease-in-out infinite;
  /* play animation explosion for 2.5s after a delay of 0.7s; */
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -50%;
  }
}

input[type='radio']:first-of-type:checked ~ div:nth-of-type(5) {
  animation: arrow 2.5s infinite;
}

/* fire arrow */
main > div:nth-of-type(5) {
  position: absolute;
  top: 90vmin;
  left: 59vmin;
  opacity: 0;
  clip-path: polygon(48% 0%, 23% 17%, 23% 65%, 40% 65%, 40% 100%, 54% 100%, 54% 65%, 71% 65%, 71% 17%);
  /* use clippath to create the shape of the arrow */
  /* source: mdn web docs. (2022a, februari 4). clip-path - CSS: Cascading Style Sheets | 
  MDN. Geraadpleegd op 15 februari 2022, van https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path */
  width: 3vmin;
  height: 5vmin;
  background: repeating-linear-gradient(45deg, #f5cf52, #ff0000 0.2em, #f5cf52 0.2em);
  /* repeat the linear gradient */
  transform: scale(1.3);
  opacity: 0;
}

@keyframes arrow {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translate(0, -60vmin);
  }
}

/* crazy firework */
main > div:nth-of-type(7) {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  top: 15vmin;
  left: 70vmin;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
  opacity: 0;
}

main > div:nth-of-type(8) {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  top: 20vmin;
  left: 20vmin;
  background: linear-gradient(#ff4b33, #ffee00);
  border-radius: 50%;
  opacity: 0;
}

input[type='radio']:nth-of-type(2):checked ~ div:nth-of-type(7),
input[type='radio']:nth-of-type(2):checked ~ div:nth-of-type(8) {
  animation: spin 0.5s linear;
  animation-iteration-count: infinite;
}

input[type='radio']:nth-of-type(2):checked ~ div:nth-of-type(8) {
  animation-delay: 0.6s;
}

main > div:nth-of-type(7)::after,
main > div:nth-of-type(8)::after {
  content: '';
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  border-radius: 50%;
}

main > div:nth-of-type(7) span,
main > div:nth-of-type(8) span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#33ccff, #ff0066);
  border-radius: 50%;
}

main > div:nth-of-type(8) span {
  background: linear-gradient(#ff4b33, #ffee00);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
    transform: scale(1.3);
  }
  75% {
    transform: rotate(240deg);
  }
  95% {
    transform: rotate(345deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

main > div:nth-of-type(7) span:nth-child(1),
main > div:nth-of-type(8) span:nth-child(1) {
  filter: blur(0.05em);
  /* source for filter blur: mdn web docs. (2021, 13 augustus). blur()
   - CSS: Cascading Style Sheets | MDN. Geraadpleegd op 2 maart 2022, 
   van https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/blur() */
}

main > div:nth-of-type(7) span:nth-child(2),
main > div:nth-of-type(8) span:nth-child(2) {
  filter: blur(0.3em);
}

main > div:nth-of-type(7) span:nth-child(3),
main > div:nth-of-type(8) span:nth-child(3) {
  filter: blur(1em);
}

main > div:nth-of-type(7) span:nth-child(4),
main > div:nth-of-type(8) span:nth-child(4) {
  filter: blur(3em);
}

/* second house */
main > div:nth-of-type(6) {
  position: absolute;
  height: 45vmin;
  width: 35vmin;
  bottom: 0;
  left: 50vmin;
  background: -moz-element(#house) no-repeat;
  /* with -moz-element i clone the element of the first house and give it to the background of the second house,
  this makes it possible to clone elements in firefox */
  /* Source: Van Gemert, V. (z.d.). RGB Clock. Vasilis. Geraadpleegd op 15 februari 2022, van https://vasilis.nl/rgb-clock/ */
  background-size: 100% 100%;
}

main > div:nth-of-type(6) {
  filter: hue-rotate(20deg);
  /* change the hue with 20deg */
}

main > div:nth-of-type(9) {
  position: absolute;
  top: 10vmin;
  left: 20vmin;
  font-family: 'Fireworks';
}

main > div:nth-of-type(9) > p:nth-of-type(1) {
  position: absolute;
  top: 18vmin;
  font-size: 8vmin;
  color: rgb(255, 0, 191);
  opacity: 0;
}

main > div:nth-of-type(9) > p:nth-of-type(2) {
  position: absolute;
  top: 10vmin;
  left: 50vmin;
  font-size: 7vmin;
  color: rgb(0, 247, 255);
  opacity: 0;
}

main > div:nth-of-type(9) > p:nth-of-type(3) {
  position: absolute;
  top: 12vmin;
  left: 20vmin;
  font-size: 7vmin;
  color: rgb(30, 255, 0);
  opacity: 0;
}

input[type='radio']:nth-of-type(3):checked ~ div:nth-of-type(9) > p {
  animation: fontFirework 1.5s linear;
  animation-iteration-count: infinite;
}

@keyframes fontFirework {
  0% {
    opacity: 1;
    transform: scale(4);
  }
  25% {
    transform: scale(2);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    opacity: 0;
  }
  /* from {
    opacity: 1;
    transform: scale(1);
    transform: rotate(45deg);
  }
  to {
    transform: scale(3);
  } */
}

/* light mode */

@media (prefers-color-scheme: light) {
  /* when the user has it's computer in light mode the colors of the elements below will change */
  main {
    background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
  }

  label:first-of-type,
  label:nth-of-type(2) {
    border: 0.02em solid black;
    color: black;
  }

  /* house */
  main > div:nth-of-type(2) {
    background: rgb(158, 92, 66);
  }

  /* schoorsteen */
  main > div:nth-of-type(1) {
    background: rgb(99, 56, 39);
  }

  /* window */
  main > div:nth-of-type(2) > div:nth-of-type(1) {
    background: #acf9fc;
    border-top: 1vmin solid rgb(99, 56, 39);
  }

  /* door */
  main > div:nth-of-type(2) > div:nth-of-type(2) {
    background: rgb(99, 56, 39);
  }

  /* door knob */
  main > div:nth-of-type(2) > div:nth-of-type(2)::before {
    border: 1px solid rgb(65, 30, 110);
    background: rgb(189, 129, 106);
  }

  /* firework 1 */
  input[type='radio']:first-of-type:checked ~ div:nth-of-type(3) > div::before {
    background-color: #2e23cf;
  }

  /* firework 2 */
  input[type='radio']:first-of-type:checked ~ div:nth-of-type(4) > div::before {
    background-color: #8b1680;
    animation: explosion 2s 0.7s ease-in-out infinite;
  }

  input[type='radio']:first-of-type:checked ~ div:nth-of-type(4) > div:nth-child(2n)::before {
    background-color: #0f6e34;
  }

  /* fire arrow */
  main > div:nth-of-type(5) {
    background: repeating-linear-gradient(45deg, #2e23cf, #ff0000 10px, #2e23cf 10px);
  }

  /* crazy firework */
  main > div:nth-of-type(7) {
    background: linear-gradient(#1d04fa, #ff0066);
  }

  main > div:nth-of-type(8) {
    background: linear-gradient(#ce0056, #ff7300);
  }

  main > div:nth-of-type(7) span {
    background: linear-gradient(#1d04fa, #ff0066);
    border-radius: 50%;
  }

  main > div:nth-of-type(8) span {
    background: linear-gradient(#ce0056, #ff7300);
  }
}
